<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ptitsyn.playandthen">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        
        <!-- Launcher Activity - checks consent -->
        <activity
            android:name="com.ptitsyn.playandthen.LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Consent Activity -->
        <activity
            android:name="com.ptitsyn.playandthen.ConsentActivity"
            android:exported="false"
            android:label="Data Access Consent"/>

        <!-- Main Activity -->
        <activity
            android:name="com.ptitsyn.playandthen.MainActivity"
            android:exported="false">
        </activity>

        <activity
            android:name="com.ptitsyn.playandthen.SettingsActivity"
            android:exported="false"
            android:label="PlayAndThen Settings"/>

        <service
            android:name="com.ptitsyn.playandthen.GuardService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/guard_accessibility_config" />
        </service>

        <service
            android:name="com.ptitsyn.playandthen.GameOverlayService"
            android:enabled="true"
            android:exported="false">
        </service>
        
        <service
            android:name="com.ptitsyn.playandthen.DebugButtonService"
            android:enabled="true"
            android:exported="false">
        </service>
        
    </application>

</manifest>
